﻿@model AprendeQlo.Models.Casos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Casos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nro_Caso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nro_Caso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cant_datos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cant_datos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Casos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
