﻿@model IEnumerable<AprendeQlo.Models.Casos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nro_Caso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cant_datos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nro_Caso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cant_datos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Listado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Casos }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Casos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Casos })
        </td>
    </tr>
}

</table>
