﻿@model AprendeQlo.Models.Disco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Disco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Dispositivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Dispositivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interfaz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interfaz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casos.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casos.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Disco }) |
    @Html.ActionLink("Back to List", "Index")
</p>
