﻿@model IEnumerable<AprendeQlo.Models.Disco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Dispositivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interfaz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Casos.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Dispositivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interfaz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Casos.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Disco }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Disco }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Disco })
        </td>
    </tr>
}

</table>
